<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Cleveland 2030</title>
		<link rel="stylesheet" type="text/css" href="../../../../public/stylesheets/main.css">
		<link rel="stylesheet" type="text/css" href="../../../../public/stylesheets/calendar.css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<!--[if lte IE 8]>			
			<script src="../../../../public/javascripts/html5.js" type="text/javascript"></script>
		<![endif]-->
	</head>
	<body>
		<div id="container">
			<div id="shadowContainer">
				<div id="innerContainer">				
					<div id="header">
						<div id="topHeader"></div>				
						<a href="index.html" title="The Cleveland 2030 Club home page" class="logo">
							<img src="../../../../public/images/logo.gif" alt="The Cleveland 2030 Logo" border="0">
						</a>
						<div id="alertSection">
						</div>
						<div id="loginSection">
							<a href="#" title="login" class="login">LOGIN</a> | NEW HERE?
							<a href="register_1.html" title="register">REGISTER</a>
						</div>
					</div>
					<nav>
						<div>
							<ul>
								<li><a href="index.html" title="Home">Home</a></li>
								<li><a href="#" title="Member Benefits">Member Benefits</a></li>
								<li class="current"><a href="Calendar.html" title="Calendar Events">Calendar Events</a></li>
								<li><a href="#" title="20/30 Members">20/30 Members</a></li>								
								<li><a href="#" title="Cleveland Plus">Cleveland Plus</a></li>
								<li><a href="about.html" title="About 20/30">About 20/30</a></li>
							</ul>
						</div>
					</nav>
					<div id="content">
						<div class="twoColumns-0">
							<h1>Calendar</h1>													
							<div class="calendar">
								<div class="calendarHeader">
									<form>
										<fieldset>
											<select>
												<option>March 2010</option>
												<option>March 2010</option>
												<option>March 2010</option>
												<option>March 2010</option>
											</select>
											<input type="submit" value="Submit" />
											<input type="submit" value="Today" class="calendarTodayButton" />
										</fieldset>									
									</form>
									<div>
										<a href="" class="rightArrow">&rsaquo;</a>
										<a href="" class="leftArrow">&lsaquo;</a>
										<span class="daySelected">Friday March 12, 2010</span>
					
									</div>
								</div>
								<div class="month">
									<div class="weekTitles">
										<div>Sunday</div>
										<div>Monday</div>
										<div>Tuesday</div>
										<div>Wednesday</div>
										<div>Thursday</div>
										<div>Friday</div>
										<div class="last">Saturday</div>
									</div>
									<div class="weekRow">
										<div class="day first">
											<span class="date blank">&nbsp;</span>										
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
											<ul>
												<li>
													<span class="networking"></span>
													<span class="networking"></span>
													<a href="#" title="Networking Event full title">													
														Networking ...
													</a>
												</li>
												<li>
													<span class="networking"></span>
													<span class="networking"></span>
													<a href="#">													
														Networking ...
													</a>
												</li>
												<li>
													<a href="#">													
														5 more
													</a>
												</li>
											</ul>
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day last">										
											<a class="date" href="#">1</a>
										</div>
									</div>
									<div class="weekRow">
										<div class="day first">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day last">									
											<a class="date" href="#">1</a>
										</div>
									</div>
									<div class="weekRow">
										<div class="day first">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day last">									
											<a class="date" href="#">1</a>
										</div>
									</div>
									<div class="weekRow">
										<div class="day first">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day last">									
											<a class="date" href="#">1</a>
										</div>
									</div>
									<div class="weekRow">
										<div class="day first">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day current">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day">										
											<a class="date" href="#">1</a>
										</div>
										<div class="day">										
											<span class="date blank">&nbsp;</span>
										</div>
										<div class="day">										
											<span class="date blank">&nbsp;</span>
										</div>
										<div class="day last">									
											<span class="date blank">&nbsp;</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="twoColumns-1">
							<form class="filters">
								<fieldset>
									<label>Filter Event Categories</label>
									<div class="eventTypesContainer">
										<ul>
											<li>
												<span class="all"></span>
												<input type="checkbox" id="all">
												<label for="all">Check All</label>
											</li>
											<li>
												<span class="social"></span>
												<input type="checkbox" id="social">
												<label for="social">Social</label>
											</li>
											<li>
												<span class="networking"></span>
												<input type="checkbox" id="networking">
												<label for="networking">Networking</label>
											</li>
											<li>
												<span class="philanthopic"></span>
												<input type="checkbox" id="philanthopic">
												<label for="philanthopic">Philanthropy</label>
											</li>
											<li>
												<span class="educational"></span>
												<input type="checkbox" id="educational">
												<label for="philanthopic">Educational</label>
											</li>
											<li>
												<span class="coupons"></span>
												<input type="checkbox" id="coupons">
												<label for="coupons">Coupons</label>
											</li>
											<li>
												<span></span>
												<input type="checkbox" id="uncategorized">
												<label for="uncategorized">Un-Categorized</label>
											</li>
										</ul>
									</div>
								</fieldset>
								
								<fieldset>
									<label>Filter By Community</label>
									<div class="eventTypesContainer">
										<ul>
											<li>
												<input type="checkbox" id="all">
												<label for="all">Check All</label>
											</li>
											<li>
												<input type="checkbox" id="social">
												<label for="social">Cleveland 2030 Club</label>
											</li>
											<li>
												<input type="checkbox" id="networking">
												<label for="networking">Young Professionals</label>
											</li>
											<li>
												<input type="checkbox" id="philanthopic">
												<label for="philanthopic">Young Professional</label>
											</li>
											<li>
												<input type="checkbox" id="educational">
												<label for="philanthopic">Young Professional</label>
											</li>
										</ul>
									</div>
									<input type="submit" value="Filter Events">
								</fieldset>
							</form>
						</div>
						<div class="clear"></div>
						
						<div class="twoColumns-0">
							<div class="dayEvents">
								<h2>EVENTS FOR: <span>Friday March 12, 2010</span></h2>
								<div class="event">
									<ul>
										<li class="social">
											<a href="">Movers &amp; Shakers Event and Celebration and this is a really long title so we see what happens</a>
											<div class="details">
												<p>6:00 pm at <span><a href="">The Leandog Boat</a></span></p>
												<div class="columns">
													<ul>
														<li>Members</li>
														<li>Non-Members</li>
													</ul>
												</div>
												<div class="columns">
													<ul>
														<li>Members</li>
														<li>Non-Members</li>
													</ul>
												</div>
											</div>
										</li>									
									</ul>
								</div>
								<div class="event">
									<ul>
										<li class="networking">
											<a href="">Movers &amp; Shakers Event and Celebration and this is a really long title so we see what happens</a>
											<div class="details">
												6:00 pm at <span>The Leandog Boat</span>
											</div>
										</li>
									</ul>
								</div> 
							</div>
						</div>
						<div class="twoColumns-1">
							<div class="dayEvents">
								<h2>SPONSORED EVENTS</h2>
								<div class="event sponsored">
									<ul>
										<li class="social">
											<img src="../../../../public/images/sponsoreImage_small.png" style="width:75px;height:32px;">
											<a href="">Movers &amp; Shakers Event and Celebration and this is a </a>												<div class="details">
												<p>February 27th at 6:00 pm</p>
											</div>
										</li>									
									</ul>
								</div>
								<div class="event sponsored">
									<ul>
										<li class="networking">
											<img src="../../../../public/images/sponsoreImage_small.png" style="width:75px;height:32px;">
											<a href="">Movers &amp; Shakers Event and Celebration and this is a really long title so we see what happens</a>
											<div class="details">
												<p>February 27th at 6:00 pm</p>
											</div>
										</li>
									</ul>
								</div> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<footer>
						footer content
					</footer>
				</div>
			</div>
		</div>
	</body>
</html>