<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Calendar - Cleveland 2030</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<!--[if lte IE 8]>			
			<script src="/javascripts/html5.js" type="text/javascript"></script>
		<![endif]-->
	</head>
	<body>
		<div id="container">
			<div id="shadowContainer">
				<div id="innerContainer">				
					<div id="header">
						<div id="topHeader"></div>				
						<a href="" title="The Cleveland 2030 Club home page" class="logo">
							<img src="/images/Cleveland2030-Logo.png" alt="The Cleveland 2030 Logo" style="width:289px;height:98px;">
						</a>
						<div id="alertSection">
							
						</div>
						<div id="loginSection">
							<a href="#" title="login" class="login">LOGIN</a> | NEW HERE?
							<a href="#" title="register">REGISTER</a>
						</div>
					</div>
					<nav>
						<div>
							<ul>
								<li class="current"><a href="#" title="Home">Home</a></li>
								<li><a href="#" title="Member Benefits">Member Benefits</a></li>
								<li><a href="#" title="Calendar Events">Calendar Events</a></li>
								<li><a href="#" title="Cleveland Plus">Cleveland Plus</a></li>
								<li><a href="#" title="About 20/30">About 20/30</a></li>
							</ul>
						</div>
					</nav>
					<div id="content">
						<div class="twoColumns-0">
							<h1>Calendar</h1>													
							<div class="calendar">
								<div class="calendarHeader">
									<form>
										<fieldset>
											<select>
												<option>March 2010</option>
												<option>March 2010</option>
												<option>March 2010</option>
												<option>March 2010</option>
											</select>
											<input type="submit" value="Submit" />
											<input type="submit" value="Today" class="calendarTodayButton" />
										</fieldset>									
									</form>
									<div>
										<span class="daySelected">Friday March 12, 2010</span>
										<a href="" class="leftArrow"><</a>
										<a href="" class="rightArrow">></a>
										<a></a>
									</div>
								</div>
								<div class="month">
									<div class="weekTitles">
										<div>Sunday</div>
										<div>Monday</div>
										<div>Tuesday</div>
										<div>Wednesday</div>
										<div>Thursday</div>
										<div>Friday</div>
										<div class="last">Saturday</div>
									</div>
									<div class="weekRow">
										<div class="day first">
											<span class="date blank">&nbsp;</span>										
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date">1</span>
											<ul>
												<li>
													<span class="networking"></span>
													<span class="networking"></span>
													<a href="#">													
														Networking ...
													</a>
												</li>
												<li>
													<span class="networking"></span>
													<span class="networking"></span>
													<a href="#">													
														Networking ...
													</a>
												</li>
												<li>
													<span class="networking"></span>
													<span class="networking"></span>
													<a href="#">													
														Networking ...
													</a>
												</li>
											</ul>
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day last">										
											<span class="date">1</span>
										</div>
									</div>
									<div class="weekRow">
										<div class="day first">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day last">									
											<span class="date">1</span>
										</div>
									</div>
									<div class="weekRow">
										<div class="day first">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day last">									
											<span class="date">1</span>
										</div>
									</div>
									<div class="weekRow">
										<div class="day first">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day last">									
											<span class="date">1</span>
										</div>
									</div>
									<div class="weekRow">
										<div class="day first">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date">1</span>
										</div>
										<div class="day">										
											<span class="date blank">1</span>
										</div>
										<div class="day">										
											<span class="date blank">1</span>
										</div>
										<div class="day last">									
											<span class="date blank">1</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="twoColumns-1">
							
						</div>
						<div class="clear"></div>
					</div>
					<footer>
						footer content
					</footer>
				</div>
			</div>
		</div>
	</body>
</html>