<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>About 20/30 - Cleveland 2030</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/three-col.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/directors.css">
		<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
		<!--[if lte IE 8]>			
			<script src="js/html5.js" type="text/javascript"></script>
		<![endif]-->
	</head>
	<body>
		<div id="container">
			<div id="shadowContainer">
				<div id="innerContainer">				
					<div id="header">
						<div id="topHeader"></div>				
						<a href="index.html" title="The Cleveland 2030 Club home page" class="logo">
							<img src="/images/logo.gif" alt="The Cleveland 2030 Logo" border="0">
						</a>
						<div id="alertSection">
						</div>
						<div id="loginSection">
							<a href="#" title="login" class="login">LOGIN</a> | NEW HERE?
							<a href="register_1.html" title="register">REGISTER</a>
						</div>
					</div>
					<nav>
						<div>
							<ul>
								<li><a href="index.html" title="Home">Home</a></li>
								<li><a href="#" title="Member Benefits">Member Benefits</a></li>
								<li class="current"><a href="Calendar.html" title="Calendar Events">Calendar Events</a></li>
								<li><a href="#" title="20/30 Members">20/30 Members</a></li>								
								<li><a href="#" title="Cleveland Plus">Cleveland Plus</a></li>
								<li><a href="about.html" title="About 20/30">About 20/30</a></li>
							</ul>
						</div>
					</nav>
					<div id="content">
						<div class="twoColumns-0">
							<div class="eventDetails">
								<h1>Top 25 test test Under 25 Awarsdfsdf sfdf Celebration </h1>
								<a href="" class="titleLink">&laquo; Back to Calendar</a>							
								<div class="columnsContainer">
									<div class="event">
										<h3 class="date"><span>Feb</span> 18</h3>
										<ul>
											<li class="social">
												<span class="weekday">Thursday</span>												
												<dl>
													<dt>Start time:</dt>
													<dd>6:00 pm EST</dd>
													<dt>End time:</dt>
													<dd>9:00 pm</dd>
												</dl>
											</li>
										</ul>
									</div>
									<div class="miniColumn">
										<h3>LOCATION</h3>
										<address>
											Cleveland Metroparks Zoo
											3900 Wildlife Way
											Cleveland, OH 44109
										</address>
										<a href="#">Map & Directions</a>
										<a href="#">Web Site</a>
									</div>
									<div class="miniColumn">
										<h3>WHO CAN COME?</h3>
										<ul>
											<li>Members</li>
											<li>Non-Members</li>
										</ul>									
									</div>
									<div class="miniColumn">
										<h3>COST</h3>					
										<dl>
											<dt>Members:</dt>
											<dd>$20</dd>
											<dt>Non-Members:</dt>
											<dd>$50</dd>
										</dl>									
									</div>
								</div>
								<div class="section">
									<h3>EVENT DESCRIPTION</h3>
									<p>
										Join the Cleveland Professional 20/30 Club and Inside Business magazine as they host the 
										Northeast Ohio’s Top 25 Under 35 Movers and Shakers Awards presented by National City Bank, 
										now part of PNC. The event takes place on Thursday, January 28, 2010 at the Rainforest at 
										Cleveland Metroparks Zoo at 6:00 p.m. Mix and mingle with area young professionals, business 
										leaders and more. In addition, Chris Royane, president, University Circle, Inc. will deliver a keynote 
										address. Tickets are $15 for members and $20 for non-members.
									</p>
								</div>
								<div class="section">
									<h3>MAP &amp; DIRECTIONS	</h3>
									<div class="map">
										<img src="/images/google_map.png" style="width:417px;height:272px;"> 
									</div>
									<h4>DIRECTIONS</h4>
									<p>
										<b>From I-71:</b> <br>
										Exit at West 25th St. and follow Zoo signs.
									</p>
									<h4>PARKING</h4>
									<p>
										parking is free
									</p>
								</div>
								
							</div>
						</div>
						<div class="twoColumns-1">
							<form class="rsvp">								
								<fieldset>
									<label>REGISTER for EVENT</label>
									<div class="disabled first">
										<input type="radio" name="member" value="true" disabled id="members" /> <label for="members">Members</label>
										<p>You must <a href="#">log in</a> before you can register as a member!</p>
									</div>
									<div>
										<input type="radio" name="member" value="false" checked id="nonmembers"/> <label for="nonmembers">Non-Members</label>										
										<ul>
											<li>
												<label for="firstName">First Name:</label>
												<input type="text" id="firstName" />
											</li>
											<li>
												<label for="lastName">Last Name:</label>
												<input type="text" id="lastName" />
											</li>
											<li>
												<a href="#">Privacy Policy</a>
											</li>
										</ul>
									</div>
									<div class="submit">
										<a href="#" class="button">Register</a>
									</div>
								</fieldset>
							</form>
							<div class="whoElse">
								<h3>WHO ELSE IS GOING?</h3>
								<p class="login">You must <a href="#">log in</a> before you can see who else is attending!</p>
							</div>
						</div>
						<div class="clear"></div>
						
					</div>
					<footer>
						footer content
					</footer>
				</div>
			</div>
		</div>
	</body>
</html>