<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Cleveland 2030</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/stuff.js"></script>
		<!--[if lte IE 8]>			
			<script src="/javascripts/html5.js" type="text/javascript"></script>
		<![endif]-->
	</head>
	<body>
		<div id="container">
			<div id="shadowContainer">
				<div id="innerContainer">				
					<div id="header">
						<div id="topHeader"></div>				
						<a href="index.html" title="The Cleveland 2030 Club home page" class="logo">
							<img src="/images/logo.gif" alt="The Cleveland 2030 Logo" border="0">
						</a>
						<div id="alertSection">
							
						</div>
						<div id="loginSection">
							<a href="#" title="login" class="login">LOGIN</a> | NEW HERE?
							<a href="register_1.html" title="register">REGISTER</a>
						</div>
					</div>
					<nav>
						<div>
							<ul>
								<li><a href="#" title="Home">Home</a></li>
								<li><a href="index.html" title="Member Benefits">Member Benefits</a></li>
								<li><a href="Calendar.html" title="Calendar Events">Calendar Events</a></li>
								<li><a href="#" title="20/30 Members">20/30 Members</a></li>								
								<li><a href="#" title="Cleveland Plus">Cleveland Plus</a></li>
								<li><a href="about.html" title="About 20/30">About 20/30</a></li>
							</ul>
						</div>
					</nav>
					<div id="content">
						<form class="allPurposeForm">
							<fieldset class="twoCol">
								<h2>Register <a href="#" class="login">(I already have an account)</a></h2>
								<div>
									<label for="firstName">
										First name
									</label>
									<input type="text" name="firstName" id="firstName" required />
								</div>
								
								<div>
									<label for="lastName">
										Last name
									</label>
									<input type="text" name="lastName" id="lastName" required />
								</div>
								
								<div>
									<label for="email">
										Email
									</label>
									<input type="email" name="email" id="email" required />
								</div>

								<div>
									<label for="password">
										Password
									</label>
									<input type="password" name="password" id="password" required />
								</div>
								
								<div>
									<label for="password2">
										Verify password
									</label>
									<input type="password" name="password2" id="password2" required />
								</div>
								
								<div class="formAction">
									<a href="register_2.html" class="button">Register</a>
								</div>
							</fieldset>
						</form>

						<form class="allPurposeForm">
							<fieldset class="twoCol">
								<h2>Or sign up with...</h2>
								<div>
									<label for="service"></label>
									<select name="service" id="service">
										<option>Select service</option>
										<option value="fbLogin">Facebook Connect</option>
										<option value="oidLogin">Open ID</option>
										<option value="twitterLogin">Twitter</option>
									</select>
								</div>
								
								<fieldset id="otherLogins">
									<fieldset id="fbLogin">
										<h3>Facebook</h3>
										<div>
											<label for="fbEmail">
												Email
											</label>
											<input type="text" name="fbEmail" id="fbEmail" />
										</div>
										
										<div>
											<label for="fbPwd">
												Password
											</label>
											<input type="password" name="fbPwd" id="fbPwd" />
										</div>
									</fieldset>
	
									<fieldset id="oidLogin">
										<h3>Open ID</h3>
										<div>
											<label for="oidID">
												Open ID
											</label>
											<input type="text" name="oidID" id="oidID" />
										</div>
										
										<div>
											<label for="oidPwd">
												Password
											</label>
											<input type="password" name="oidPwd" id="oidPwd" />
										</div>
									</fieldset>
									
									<fieldset id="twitterLogin">
										<h3>Twitter</h3>
										<div>
											<label for="twitterUser">
												Username
											</label>
											<input type="text" name="twitterUser" id="twitterUser" />
										</div>
										
										<div>
											<label for="twitterPwd">
												Password
											</label>
											<input type="password" name="twitterPwd" id="twitterPwd" />
										</div>
									</fieldset>
									
									<div class="formAction">
										<a href="#" class="button">Log in</a>
									</div>
								</fieldset>
							</fieldset>
						</form>
						
						<div class="clear"></div>
					</div>
					<footer>
						footer content
					</footer>
				</div>
			</div>
		</div>
	</body>
</html>
