<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Cleveland 2030</title>
		<link rel="stylesheet" type="text/css" href="../../../../public/stylesheets/main.css">
		<link rel="stylesheet" type="text/css" href="../../../../public/stylesheets/three-col.css">		
		<link rel="stylesheet" type="text/css" href="../../../../public/stylesheets/about.css">				
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="../../../../public/javascripts/stuff.js"></script>
		<!--[if lte IE 8]>			
			<script src="../../../../public/javascripts/html5.js" type="text/javascript"></script>
		<![endif]-->
	</head>
	<body>
		<div id="container">
			<div id="shadowContainer">
				<div id="innerContainer">				
					<div id="header">
						<div id="topHeader"></div>				
						<a href="index.html" title="The Cleveland 2030 Club home page" class="logo">
							<img src="../../../../public/images/logo.gif" alt="The Cleveland 2030 Logo" border="0">
						</a>
						<div id="alertSection">
							
						</div>
						<div id="loginSection">
							<a href="#" title="login" class="login">LOGIN</a> | NEW HERE?
							<a href="register_1.html" title="register">REGISTER</a>
						</div>
					</div>
					<nav>
						<div>
							<ul>
								<li><a href="index.html" title="Home">Home</a></li>
								<li><a href="#" title="Member Benefits">Member Benefits</a></li>
								<li><a href="Calendar.html" title="Calendar Events">Calendar Events</a></li>
								<li><a href="#" title="20/30 Members">20/30 Members</a></li>
								<li><a href="#" title="Cleveland Plus">Cleveland Plus</a></li>
								<li><a href="about.html" title="About 20/30">About 20/30</a></li>
							</ul>
						</div>
					</nav>
					<div id="content">
						<div class="threeColumns-1">
							<h1>Register</h1>
							<form>								
								<fieldset>
									<legend><span><strong>Personal Information</strong></span></legend>
									<div class="form-node">
										<label for="address1">
											Address
										</label>
										<input type="text" name="address1" id="address1" required />
										<input type="text" name="address2" id="address2" />
									</div>
									
									<div class="form-node">
										<label for="city">
											City
										</label>
										<input type="text" name="city" id="city" required />
									</div>
									
									<div class="form-node">
										<label for="state">
											State
										</label>
										<select name="state" id="state">
											<option value="AL">Alabama</option>
											<option value="AK">Alaska</option>
											<option value="AZ">Arizona</option>
											<option value="AR">Arkansas</option>
											<option value="CA">California</option>
											<option value="CO">Colorado</option>
											<option value="CT">Connecticut</option>
											<option value="DE">Delaware</option>
											<option value="DC">Dist of Columbia</option>
										</select>
									</div>
	
									<div class="form-node">
										<label for="zip">
											Zip
										</label>
										<input type="text" name="zip" id="zip" maxlength="5" class="formZip" required />
									</div>
									
									<div class="form-node">
										<label for="phone">
											Phone number
										</label>
										<input type="text" name="phone" id="phone" maxlength="10" required /> 
									</div>
									

								</fieldset>	
								<fieldset>
									<legend><span><strong>Profesion and Education</strong></span></legend>
	
									<div class="form-node">
										<label for="profession">
											Profession
										</label>
										<input type="text" name="profession" id="profession" />
									</div>
									
									<div class="form-node">
										<label for="employer">
											Employer
										</label>
										<input type="text" name="employer" id="fbPemployerwd" />
									</div>
	
									<div class="form-node">
										<label for="education">
											Education
										</label>
										<input type="text" name="education" id="education" />
									</div>
																		
								</fieldset>
								<fieldset>
									<legend><span><strong>About Us</strong></span></legend>
									<div class="form-node">
										<label for="hearAbout">
											How did you hear about Cleveland 20/30?
										</label>
										<textarea name="hearAbout" id="hearAbout" cols="26" rows="4"></textarea>
									</div>
									
								</fieldset>
								<div class="formAction">
									<input type="submit" value="Continue">
								</div>
							</form>
						</div>						
					</div>
					<footer>
						footer content
					</footer>
				</div>
			</div>
		</div>
	</body>
</html>
