<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Cleveland 2030</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/stuff.js"></script>
		<!--[if lte IE 8]>			
			<script src="/javascripts/html5.js" type="text/javascript"></script>
		<![endif]-->
	</head>
	<body>
		<div id="container">
			<div id="shadowContainer">
				<div id="innerContainer">				
					<div id="header">
						<div id="topHeader"></div>				
						<a href="" title="The Cleveland 2030 Club home page" class="logo">
							<img src="/images/logo.gif" alt="The Cleveland 2030 Logo" border="0">
						</a>
						<div id="alertSection">
							
						</div>
						<div id="loginSection">
							<a href="#" title="login" class="login">LOGIN</a> | NEW HERE?
							<a href="#" title="register">REGISTER</a>
						</div>
					</div>
					<nav>
						<div>
							<ul>
								<li class="current"><a href="#" title="Home">Home</a></li>
								<li><a href="#" title="Member Benefits">Member Benefits</a></li>
								<li><a href="#" title="Calendar Events">Calendar Events</a></li>
								<li><a href="#" title="Cleveland Plus">Cleveland Plus</a></li>
								<li><a href="#" title="About 20/30">About 20/30</a></li>
							</ul>
						</div>
					</nav>
					<div id="content">
						<h1>Membership dues</h1>

						<form class="allPurposeForm">
							<fieldset class="twoCol">
								<h2>Pay with PayPal</h2>
								
								<p>Membership dues are $x per month. You may pay now or you may pay at the next event. Membership dues provide the budget necessary for member benefits.</p>
								
								<div>
									<label for="discountCode">
										Discount code
									</label>
									<input type="text" name="discountCode" id="discountCode" />
								</div>
								
								<div>
									<a href="#" class="button">Apply code</a>
								</div>
								
								<div class="formAction clear">
									<a href="#"><img src="/images/paypal.gif" /></a>
								</div>
							</fieldset>
							
							<fieldset class="twoCol">
								<h2>Pay at the next event</h2>

								<div class="formAction">
									<a href="#" class="button">Edit my profile</a>
								</div>
							</fieldset>							
						</form>
						
						<div class="clear"></div>
					</div>
					<footer>
						footer content
					</footer>
				</div>
			</div>
		</div>
	</body>
</html>
