<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Cleveland 2030</title>
		<link rel="stylesheet" type="text/css" href="../../../../public/stylesheets/main.css">
		<link rel="stylesheet" type="text/css" href="../../../../public/stylesheets/three-col.css">		
		<link rel="stylesheet" type="text/css" href="../../../../public/stylesheets/about.css">			
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="../../../../public/javascripts/stuff.js"></script>
		<!--[if lte IE 8]>			
			<script src="../../../../public/javascripts/html5.js" type="text/javascript"></script>
		<![endif]-->
	</head>
	<body>
		<div id="container">
			<div id="shadowContainer">
				<div id="innerContainer">				
					<div id="header">
						<div id="topHeader"></div>				
						<a href="" title="The Cleveland 2030 Club home page" class="logo">
							<img src="../../../../public/images/logo.gif" alt="The Cleveland 2030 Logo" border="0">
						</a>
						<div id="alertSection">
							
						</div>
						<div id="loginSection">
							<a href="#" title="login" class="login">LOGIN</a> | NEW HERE?
							<a href="#" title="register">REGISTER</a>
						</div>
					</div>
					<nav>
						<div>
							<ul>
								<li class="current"><a href="#" title="Home">Home</a></li>
								<li><a href="#" title="Member Benefits">Member Benefits</a></li>
								<li><a href="#" title="Calendar Events">Calendar Events</a></li>
								<li><a href="#" title="Cleveland Plus">Cleveland Plus</a></li>
								<li><a href="#" title="About 20/30">About 20/30</a></li>
							</ul>
						</div>
					</nav>
					<div id="content">
						<div class="threeColumns-1">
							<h1>Registration: Membership Dues</h1>
							<p>Membership dues provide the budget necessary for member benefits.</p>
							<form>
								<fieldset>
									<legend><span><strong class="price">Total</strong><strong>Pay with PayPal</strong></span></legend>
									<div class="form-node">
										<strong class="price">$70.00</strong>
										<div class="label-like">Cleveland 20/30 Club:</div>
										<div class="default-value">One year membership</div>
									</div>
									<div class="form-node">
										<strong class="price success">-$20.00</strong>
										<label for="discountCode">
											Discount Code:
										</label>
										<input type="text" name="discountCode" id="discountCode" />
										<a href="#" class="apply-code">Apply code</a>
									</div>
									<div class="form-node hr">&nbsp;</div>
									<div class="form-node">
										<strong class="price">$50.00</strong>
										<p class="price txt-r">Subtotal:</p>
									</div>									
								</fieldset>
								<div class="formAction clear">
									<a href="#" class="submit"><img src="../../../../public/images/paypal.gif" /></a>
								</div>														
							</form>
						</div>						
					</div>
					<footer>
						footer content
					</footer>
				</div>
			</div>
		</div>
	</body>
</html>
