<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Cleveland 2030</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
		<!--[if lte IE 8]>			
			<script src="js/html5.js" type="text/javascript"></script>
		<![endif]-->
	</head>
	<body>
		<div id="container">
			<div id="shadowContainer">
				<div id="innerContainer">				
					<div id="header">
						<div id="topHeader"></div>				
						<a href="" title="The Cleveland 2030 Club home page" class="logo">
							<img src="/images/Cleveland2030-Logo.png" alt="The Cleveland 2030 Logo" style="width:289px;height:98px;">
						</a>
						<div id="alertSection">
							
						</div>
						<div id="loginSection">
							<a href="#" title="login" class="login">LOGIN</a> | NEW HERE?
							<a href="#" title="register">REGISTER</a>
						</div>
					</div>
					<nav>
						<div>
							<ul>
								<li class="current"><a href="#" title="Home">Home</a></li>
								<li><a href="#" title="Member Benefits">Member Benefits</a></li>
								<li><a href="#" title="Calendar Events">Calendar Events</a></li>
								<li><a href="#" title="Cleveland Plus">Cleveland Plus</a></li>
								<li><a href="#" title="About 20/30">About 20/30</a></li>
							</ul>
						</div>
					</nav>
					<div id="content">
						<div class="twoColumns-0">
							<h1>Header 1</h1>
							<h2>Header 2</h2>
							<h3>Header 3</h3>
							<h4>Header 4</h4>
							<h5>Header 5</h5>
							
							<p>Fusce enim metus, gravida nec aliquam sed, facilisis facilisis metus. Cras semper molestie felis, eget aliquet felis mattis id. In commodo, augue in porta rutrum, mi dui bibendum eros, quis accumsan mauris est a tellus. Etiam porttitor, mauris at tempor ullamcorper, velit lorem imperdiet urna, sed dictum nisi quam id diam. Morbi porta felis in risus molestie ac tempor orci scelerisque. Duis commodo libero eget elit facilisis venenatis. Vivamus malesuada elementum arcu et lacinia. Proin urna tortor, faucibus a varius nec, vehicula vitae lorem. Suspendisse potenti. Nullam congue mattis tortor, sit amet mollis sapien cursus at. Etiam odio purus, luctus vel placerat sed, suscipit nec est. Nulla facilisi. Fusce rutrum dignissim arcu a convallis. Ut viverra vehicula libero eget tincidunt. Nullam a lorem a turpis commodo rhoncus. </p>
							
						</div>
						<div class="twoColumns-1">
							
						</div>
						<div class="clear"></div>
					</div>
					<footer>
						footer content
					</footer>
				</div>
			</div>
		</div>
	</body>
</html>
