blockquote
{
	background: transparent url('../images/quote-start.jpg') 0 0 no-repeat;
	font-size: 120%;
	margin-top: 10px;
	min-height: 49px;
	padding: 20px 0 0 20px;
	position: relative;
}

h1
{
	color: #255887;
	padding: 0 0 5px 0;
}

h2
{
	font-size: 120%;
	padding: 0 0 5px 0;
	text-transform: uppercase;
}

.section
{
	padding-bottom: 15px;
}

.member-name
{
	font-size: 110%;
	padding-top: 5px;
	text-align: right;
}

.member-pic
{
	border: 4px solid #255887;
	display: none;
}

.quote-end
{
	background: red url('../images/quote-end.jpg') 0 0 no-repeat;
	margin-left: 160px;
	margin-top: -30px;
	min-height: 49px;
	width: 64px;
	z-index: 1;
}