#page-committee
{
	color: #000;
}

#page-committee a
{
	color: #2c83af;
	text-decoration: none;
}

#page-committee a:hover
{
	text-decoration: underline;
}

#page-committee h1
{
	color: #255887;
	padding: 0 0 5px 0;
}

#page-committee h2
{
	font-size: 120%;
	padding: 0 0 5px 0;
	text-transform: uppercase;
}

#page-committee h3
{
	font-size: 100%;
	padding: 5px 0 2px 0;
}

#page-committee p
{
	line-height: 120%;
}

#page-committee p.post-meta
{
	font-size: 80%;
	margin-bottom: 10px;
}

#page-committee #content
{

}

#page-committee .event a
{
	display: inline;
}

#page-committee .files
{
	font-size: 80%;
	margin-left: 15px;
}

#page-committee .files li
{
	padding: 4px 0;
}

#page-committee .files li a
{
	font-size: 150%;
	padding-right: 5px;
}

#page-committee .post
{
	clear: both;
	margin: 5px 0 25px 0;
}

#page-committee .section
{
	margin: 0 0 20px 0;
}
#page-committee .event
{
	width: 480px;
}
/* PostedComments _______________________________ */

#PostedComments {
    float: left;
    margin-left: 80px;
    margin-top: 10px;
    width: 400px;
}    

#Comments {
	border-bottom: #2c83af solid 1px;
	border-left: #2c83af solid 2px;
	clear: both;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 5px;
}

#Comments img {
    float: left;
    margin-right: 10px;
}    

#Comments h3 {
}    

#Comments p {
    font-style:italic;
    font-size: 0.8em;
    margin-bottom: 0.5em;
}    

/* PostAComment _______________________________ */

.PostAComment {
    margin-bottom: 20px;
    margin-top: 5px;
    padding-top: 5px;
}

.PostAComment img {
    float: left;
    margin-right: 10px;
}    

.PostAComment input {
	margin: 10px 0;
}    
    