/* 
html5doctor.com Reset Stylesheet
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, 
hgroup, menu, nav, section,
time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body {line-height:1.3em;}
article, aside, dialog, figure, footer, header, 
hgroup, nav, section {display:block;}
nav ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {content:'';content:none;}
a {margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins {background-color:#ff9;color:#000;text-decoration:none;}
mark {background-color:#ff9;color:#000; font-style:italic;font-weight:bold;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted #000;cursor:help;}
table {border-collapse:collapse;border-spacing:0;}
hr {display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
input, select {vertical-align:middle;}
/* end reset */

/* Cleveland 2030 Styles start here */

/* ------------------------------- */
/* 		Font Styles 	 		   */
/* ------------------------------ */

h1,h2,h3,h4,h5{margin-bottom:1em;}
h1{font-size:180%;}
h2{font-size:160%;}
h3{font-size:140%;}
h4{font-size:108%;}
h5{font-size:100%;}

p{margin-bottom:1em;}

h1 span {color:#0a4d8f}

a{color:#377fb9;text-decoration:none;}
a:hover{background-color:#f4f2e4;border-bottom:1px solid #aaa;color:#333;}

/* ------------------------------- */
/* 		Generic Formating  		   */
/* ------------------------------ */

.right{float:right;}
.left{float:left;}
.small{font-size:85%;}
.tiny{font-size:77%;}
h1 .tiny{font-size:50%;}
.txt-r{text-align: right;}
.txt-l{text-align: left;}
.viewMore {font-size:85%;margin-top:1em;float:right;}
.success{color:#73ac59}
.hr{border-bottom:1px dotted #ccc;}
div.clear{clear:both;}

/* ------------------------------- */
/* 		Structure Styles  		   */
/* ------------------------------ */

body{font-family: Helvetica, Tahoma, Verdana, sans-serif;font-size:13px;position:relative;background:#fff url(../images/bg-strech.jpg) repeat-x top left;color:#333;}
#container{width:100%;margin:0 auto;background:transparent url(../images/bg.jpg) no-repeat top center;}
#container img.skyline{position:absolute;right:140px;top:107px;}
#shadowContainer{width:960px;margin:0 auto;}
#innerContainer{width:972px;margin:0 auto;}

#header{height:145px;/*height:150px;background:transparent url(../images/cle2030-skyline.png) no-repeat 100% 85px;*/}
#header #topHeader{/*height:20px;text-align:right;*/}
#header a.logo{margin:0 0 0 15px;/*margin:5px 5px 5px 15px;*/display:block;float:left;/*width:300px;*/}
#header #alertSection{float:left;width:345px;margin:0 5px;padding:8px;}
#header #loginSection{float:right;width:300px;padding:28px 0 0 0;}

nav {height:40px;padding:0;background:transparent url(../images/nav-bg.gif) repeat-x 0 3px;border-bottom:3px solid #2c2d2d;}
nav div{overflow:hidden;height:45px;margin:0 auto;padding:0 3px;/*background:transparent url(../images/cle2030-skyline.png) no-repeat 100% -63px;*/}
nav ul li{float:left;margin:0 3px;height:42px;}
nav ul li a{font-size:116%;/*font-size:130%;*/text-decoration:none;font-weight:normal;/*font-weight:bold;*/color:#fff;display:block;height:24px;/*height:42px;*/padding:17px 5px 0;/*padding:14px 10px 0;*/}
nav ul li a:hover, nav ul li a.current{color:#ebebeb; background:transparent url(../images/cle2030-menu_re.png) repeat-x 0 -50px; border-bottom:none;}

#content{padding:1em .5em .5em;background:#fff;overflow:hidden;min-height:400px;}
footer{background:#2d2d2d;padding:10px;color:#fff;}
footer h4{margin-top:0;}

/* ------------------------------- */
/* 		Colum Styles  		   	*/
/* ------------------------------ */

/* 2 column layout */
div.twoColumns-0{float:left;width:655px;padding: 1em 0 2em 0;}
div.twoColumns-1{float:right;width:285px;padding: 1em 0 2em 0;}

/* 3 colum layout */
.threeColumns-0{background: transparent url('../images/subnav-background.jpg') 0 0 no-repeat;float: left;min-height: 249px;width: 162px;}
.threeColumns-0 ul{font-size: 90%;list-style: none;margin-top: 25px;padding: 0 18px;}
.threeColumns-0 ul li.current a{color: #000 !important;}
.threeColumns-0 ul li{padding: 0 0 10px 0;}
.threeColumns-1{float: left;padding: 15px 20px 0 20px;width: 530px;}
.threeColumns-2{float: left;padding-top: 15px;width: 220px;}

/* ------------------------------- */
/* 		intro home		  		   */
/* ------------------------------ */

div.introContainer{margin-bottom:2em;}
div.intro{overflow:hidden; width:100%;background:#044e8f url(../images/cle2030-intro-bg_re.png) repeat-x top left;margin-left:-6px;}
/*div.introContainer .corner{width:18px;height:9px;position:absolute;bottom:-9px;left:-29px;background:transparent url(../images/cle2030-intro-corner.png) no-repeat top left;}*/
/*div.intro div{display:none;}*/
/*div.intro a.learn{background:#FFF url('../images/learn-more-background.jpg') 0 0 repeat-x;border-radius:5px;color:#294558;display:block;position:absolute;bottom:20px;right:20px;font-size:160%;padding: 10px 15px;text-decoration:none;text-shadow:rgba(10, 10, 10, 0.2) 1px 2px 2px;-moz-border-radius:5px;-webkit-border-radius:5px;}
div.intro a.learn:hover{text-decoration:underline;}
div.intro .committees{margin-top:35px;margin-left:30px;width:165px;font-size:124%;}
div.intro .committees li{display:block;list-style:none;margin:0px 15px 0px 0;width:100%;}
div.intro .committees li a{color:#fff;display:block;text-decoration:none;font-weight:normal;padding-left:15px;}
div.intro .committees li a:hover{border-bottom:none;background-color:#f2f2f2;color:#333;}
div.intro  .committees li.current{}*/
div.intro .committees{width:33%;float:left;margin:3em 0;}
div.intro .committees li{display:block;list-style:none;width:70%;margin:.1em auto;}
/*div.intro .committees li a{border:1px solid #0D3756; font-size:116%; color:#fff;display:block;text-decoration:none;font-weight:normal;padding:.5em 2em;margin-bottom:.1em;-moz-border-radius:5px;-webkit-border-radius:5px;}*/
/*div.intro .committees li a{border:1px solid #0D3756; font-size:116%; color:#fff;display:block;text-decoration:none;font-weight:normal;padding:.5em 2em;margin-bottom:.1em;-moz-border-radius:5px;-webkit-border-radius:5px;background:url('/images/btn-bg.gif') repeat-x;}*/
div.intro .committees li a{background-color:#0056A5;font-size:116%; color:#fff;display:block;text-decoration:none;font-weight:normal;padding:.5em 2em;margin-bottom:.1em;-moz-border-radius:5px;-webkit-border-radius:5px;}
div.intro .committees li a:hover, div.intro li.current a{border:0; background-color:#EBEBEB;color:#333;}
/*div.intro div p{color: #fff;position:absolute;margin-right:40px;top:57px;left:245px;font-size:124%;line-height:1.6em; border-left:1px dotted #fff;}*/
div.intro #content-featured{float:left;color:#fff;width:67%;}
div.intro div p{padding:3em 25px 3em 0;font-size:132%;line-height:1.6em; margin:0; /*border-left:1px dotted #fff;*/}

div.subintroContainer { margin-bottom: 15px; overflow: hidden;}
div.subintroColumnLeft, div.subintroColumnRight { float: left; width: 450px; }
div.subintroColumnRight { margin-left: 15px; width: 190px; }

/* ---------------------------------------- */
/* 		home membership, news, flicker	   */
/* --------------------------------------- */

div.membership, div.recentnews, div.flickr { margin-bottom: 30px;overflow:hidden; }

div.membershipBody { background: #ebebeb; -moz-border-radius: 5px; -webkit-border-radius: 5px; overflow: hidden;  }
	div.register { float: left; text-align: center; width:46%; }
		/*div.register p a { color: #336799; font-family: Arial; }*/
			p.becomeMember { width:70%;margin:3em auto 1em; }
			p.becomeMember a {background-color:#0483d3;background-image:url("/images/cle2030-intro-but-bg_re.png");background-repeat:repeat-x;background-position:bottom; border:1px solid #0483d3; font-size:116%; color:#fff;display:block;text-decoration:none;font-weight:normal;padding:.5em 0;margin-bottom:.1em;-moz-border-radius:5px;-webkit-border-radius:5px;}
			p.becomeMember a:hover {background-color:#0483d3; border:1px solid #0483d3;}
	div.testimonials {float: left;width:54%;}
			div.testimonials h4 { float: left; margin-top:1em; }
			div.testimonials a { background: #999 url(../images/testimonialsrightarrow.jpg) no-repeat 100% 0; color: #fff; display: block; float: right; font-size: 11px; font-weight: normal; margin-top:2px; padding-left: 6px; text-decoration: none; width: 34px; }
		div.testimonialBody {margin:1em 0; clear: both; }
			div.testimonialBody p { }
			div.testimonialBody p.testimonialAuthor strong {font-size:123%;}
			div.testimonialBody p.testimonialAuthor { color: #666; margin-top: 1em; font-size:77%; }
			
div.rss_box ul { }
	div.rss_box ul li {padding:5px 0;list-style:none;font-size:77%;}
	div.rss_box ul li a{font-size:130%;}
			

div.flickrBody { margin-top: 8px; }
div.flickrLeft, div.flickrImage, div.flickrRight { float: left; height: 145px; }
div.flickrLeft a { display: block; background: url(../images/flickrLeft.jpg) no-repeat 0 0; width: 30px; height: 85px; margin: 32px 10px; }
div.flickrRight a { display: block; background: url(../images/flickrRight.jpg) no-repeat 0 0; width: 30px; height: 85px; margin: 32px 10px; }

/* ------------------------ */
/* 		Foms	   			*/
/* ------------------------ */

form {overflow:hidden;margin-bottom:1em;}
form legend span{position:absolute;width:100%;}
form legend span strong{text-transform:uppercase;font-size:85%;background:#ddd;padding:.4em 0 .4em 1em;display:block;-moz-border-radius:5px;-webkit-border-radius:5px;}
form fieldset {padding: 3em 0 1em;display: block;width:100%;position:relative;}
form fieldset div.form-node {margin: 0 0 .5em;clear:left;position:relative;overflow:hidden;*zoom:1;}
form fieldset label, form fieldset .label-like {text-align:right;width:170px;display:block;float:left;margin: 0 8px 0 0;text-transform:uppercase;font-size:90%;color:#6C6C6C;}
form fieldset .default-value{width:200px;margin:0 8px 1em 190px;padding-left:4px;display:block;}
form fieldset .aside-label {font-size:84%;color:#a1a1a1;display:block;}
form fieldset.checklist .form-node div {margin: 5px 0 0 190px;padding:0;overflow:hidden;}
form fieldset.checklist .form-node div label {margin:0 8px 0 10px;padding:0;text-align:left;}
form fieldset.checklist input[type="checkbox"] {margin:0;padding:4px 0 4px 4px;float:left;}
form fieldset label.checkbox, form fieldset label.radio, form fieldset img.checked {float:left;text-align:left;margin-left:1em; text-transform: none;}
form fieldset input[type="checkbox"].checkbox,form fieldset input[type="radio"].radio {float:left;}
form fieldset input[type="text"], form fieldset input[type="password"], form fieldset select, form fieldset textarea {width:350px;display:block;border:1px solid #6c6c6c;margin:0 8px 0 190px;padding:4px 0 4px 4px;}
form fieldset input[type="file"]{width:200px;margin:6px 8px 0 0;padding:4px 0 4px 4px;}
form fieldset .form-node div a{margin:0 0 0 180px;}
form fieldset textarea.short {height:100px;}
form fieldset textarea.tall {height:200px;}
form fieldset input[type="text"].twoFieldsinline, form fieldset select.twoFieldsinline{float:left;width:95px;}
form fieldset input[name="zip"] {width:50px;}
form fieldset select.time{width:80px;display:inline;margin:0;}
form fieldset input[name="phone"]{width:80px;}
form fieldset input[name="taxID2"] {width:70px;display:inline;margin:0;}
form fieldset input[name="phone3"] {width:40px;float:none;display:inline;margin:0;}
div.formAction {}
div.formAction input[type="submit"] {display:block;border:1px solid #6c6c6c;margin:0 8px 0 190px;padding:.5em;}
div.formAction .submit {margin:0 8px 0 190px;}

/* ------------------------------------ */
/* 		Errors, Notices, Success	   		*/
/* ------------------------------------ */

.errorExplanation {background:#FBE3E4 none repeat scroll 0 0;border-color:#FBC2C4;color:#8A1F11;}
.notice {background:#FFF6BF none repeat scroll 0 0;border-color:#FFD324;}
.success {background:#E6EFC2 none repeat scroll 0 0;border-color:#C6D880;}
.errorExplanation, .notice {border:2px solid #DDDDDD;margin-bottom:1em;padding:0.8em;}
.errorExplanation ul{margin-left:2em;}
form fieldset div.fieldWithErrors {margin:0;}
form fieldset div.fieldWithErrors label {color:#8A1F11;}
form fieldset div.fieldWithErrors input[type="text"],form fieldset div.fieldWithErrors input[type="password"] {background:#FBE3E4 none repeat scroll 0 0;}
.addPrice{display:block;margin:1em 0;}



/* -------------------------------- */
/* 		Sponsorship rotator			*/
/* -------------------------------- */

div.sponsor .sponsorBody, div.sponsor .sponsorBody .coda-slider-wrapper, div.sponsor .sponsorBody .coda-slider-wrapper .coda-slider, div.sponsor .sponsorBody .coda-slider-wrapper .coda-slider .panel-wrapper{margin:0;padding:0;width:inherit;}
div.sponsor .sponsorBody .coda-slider-wrapper .coda-slider{background-color:inherit;}
.coda-slider, .coda-slider .panel{min-height:220px;width:190px !important;}

/* -------------------------------- */
/* 		Galleria					*/
/* -------------------------------- */

#galleria .galleria-container{background: #2D2D2D ;}

/* -------------------------------- */
/* 		Checkout					*/
/* -------------------------------- */

form .apply-code{float:left;display:block;border:1px solid #6c6c6c;padding:.1em .4em;margin:2px 0 0 320px;}
form .for-price{width:114px;float:right;padding-left:20px;}
form .price{font-weight:bold;}
form fieldset .remove {float:left;display:block;padding-left:15px;margin:5px;background:url("../images/remove-icon.gif") no-repeat left top;}
form fieldset div.no-logo{border:1px dashed #ccc;height:100px;margin-left:178px;width:300px;}
