.threeColumns-0
{
	background: red url('../images/subnav-background.jpg') 0 0 no-repeat;
	float: left;
	min-height: 249px;
	width: 162px;
}

.threeColumns-0 ul
{
	font-size: 90%;
	list-style: none;
	margin-top: 25px;
	padding: 0 18px;
}

.threeColumns-0 ul li.current a
{
	color: #000 !important;
}

.threeColumns-0 ul li
{
	padding: 0 0 10px 0;
}

.threeColumns-1
{
	float: left;
	padding: 15px 20px 0 20px;
	width: 530px;
}

.threeColumns-2
{
	float: left;
	padding-top: 15px;
	width: 220px;
}