<fieldset>
  <legend><span><strong>Personal Information</strong></span></legend>
  <div class="form-node">
    <label for="address1">Address</label>
    <input type="text" name="address1" id="address1" required />
    <label for="address2">Address2</label>
										<input type="text" name="address2" id="address2" />

									</div>

									<div class="form-node">
										<label for="city">
											City
										</label>
										<input type="text" name="city" id="city" required />
									</div>

									<div class="form-node">
										<label for="state">

											State
										</label>
										<select name="state" id="state">
											<option value="AL">Alabama</option>
											<option value="AK">Alaska</option>
											<option value="AZ">Arizona</option>
											<option value="AR">Arkansas</option>

											<option value="CA">California</option>
											<option value="CO">Colorado</option>
											<option value="CT">Connecticut</option>
											<option value="DE">Delaware</option>
											<option value="DC">Dist of Columbia</option>
										</select>

									</div>

									<div class="form-node">
										<label for="zip">
											Zip
										</label>
										<input type="text" name="zip" id="zip" maxlength="5" class="formZip" required />
									</div>

									<div class="form-node">
										<label for="phone">

											Phone number
										</label>
										<input type="text" name="phone" id="phone" maxlength="10" required />
									</div>


								</fieldset>
								<fieldset>
									<legend><span><strong>Profesion and Education</strong></span></legend>

									<div class="form-node">
										<label for="profession">
											Profession
										</label>

										<input type="text" name="profession" id="profession" />
									</div>

									<div class="form-node">
										<label for="employer">
											Employer
										</label>
										<input type="text" name="employer" id="fbPemployerwd" />
									</div>

									<div class="form-node">

										<label for="education">
											Education
										</label>
										<input type="text" name="education" id="education" />
									</div>

								</fieldset>
								<fieldset>
									<legend><span><strong>About Us</strong></span></legend>
									<div class="form-node">

										<label for="hearAbout">
											How did you hear about Cleveland 20/30?
										</label>
										<textarea name="hearAbout" id="hearAbout" cols="26" rows="4"></textarea>
									</div>

								</fieldset>

