<p>Membership dues provide the budget necessary for member benefits.</p>
<fieldset>
	<legend><span><strong class="for-price">Total</strong><strong>Pay with PayPal</strong></span></legend>
	<div class="form-node">
		<span class="for-price">$70.00</span>
		<span class="label-like">Cleveland 20/30 Club:</span>
		<span class="default-value">One year membership</span>
	</div>
	<div class="form-node hr">&nbsp;</div>
	<div class="form-node">
		<span class="for-price price">$50.00</span>
		<span class="for-price txt-r">Subtotal:</span>
	</div>									
</fieldset>
