<div class="twoColumns-0"> 
  <h1><%= title_string(@registration.current_step) %> <a href="/user_sessions/new/" class="tiny right">I already have an account</a></h1>
  <% form_for @registration, :url => registration_path do |f| %>
  <%= f.error_messages %>
  <%= render "#{@registration.current_step}_form", :f => f %>
  <div class="formAction clear">
    <% if @registration.current_step == 'review' %>
    <input type="image" src="images/paypal.gif" />
    <% else %>
    <%= f.submit "Continue" %>
    <% end %>
  </div>
  <% end %>
</div>
