<div class="twoColumns-0">
  <h1>Registration: Membership Dues <a href="/user_sessions/new/" class="tiny right">I already have an account</a></h1>
  <form>
    <%= render "review_form" %>
    <div class="formAction clear">
      <%= image_submit_tag 'paypal.gif' %>
    </div>
  </form>
</div>

