<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'cleveland-plus' %>
<% end %>

<div class="twoColumns-0">
	<h1>Cleveland Plus</h1>
	
	<p>Cleveland is a city for a great quality of life.  A city filled with friendly, genuine, and passionate citizens, it is seen as having big city amenities without the big city problems.  Exceptionally affordable, Cleveland is a place with world class cultural, recreational, and entertainment attractions. It's where lifestyles range from the rural to the suburban to the urban. It's right where you belong!</p>
	
	<h2>World-Class Cultural Attractions</h2>
	<p>When you're in Cleveland, you're in a first-class cultural destination. </p>
	<p>Go to University Circle, the most concentrated square mile of art, and cultural, education and health institutions in the nation. There, you'll find institutions like the world-renowned Cleveland Orchestra, the Cleveland Botanical Gardens, the Cleveland Museum of Art, the Cleveland Institute of Music, and the Cleveland Museum of Natural History.  Head a few blocks west to Playhouse Square, the second largest performing arts center in the country behind Lincoln Center in New York City.  </p>
	<p>From striking art to the illustrious sounds of the symphony to the excitement of Broadway, Cleveland has it all</p>
	
	<h2>World-Class Recreation and Entertainment</h2>
	<p>Think you will be bored in Cleveland?  Guess again, Cleveland has an overwhelming number of activities.</p>
	<p>Slam-dunk yourself into a seat to watch LeBron and the Cleveland Cavaliers, catch a home run ball while cheering on the Cleveland Indians, and tailgate and attend a Browns football game with thousands of the most loyal fans in the world.  If you'd rather put yourself in the middle of the action, the Cleveland region offers more than 275 miles of biking trails, 300 golf courses, and 150 parks.  Feel at home on the water? Go boating, jet skiing, canoeing, kayaking and the fishing on Lake Erie and the countless spiraling rivers. </p>
	<p>If you're ready to play, the Cleveland region is your playground!</p>
	
	<h2>World-Class Quality of Life</h2>
	<p>Cleveland is a great place to work, live and enjoy life.</p>
	<p>With a diverse population of hard-working and friendly people, and the choice of an urban, suburban or rural lifestyle, Greater Cleveland is a terrific place to call home.  When living in Cleveland you have access to big city attractions and more, but without the big city price tag or nuisances.</p>
	<p>Our cost of living is low and our quality of life is high.</p>
</div>
<div class="twoColumns-1">
	<h2>The Cleveland 2030 Club suggests you go here for:</h2>
	<ul>
		<li><a href="http://www.clevelandplus.com/artsCulture.asp">Culture</a></li>
		<li><a href="http://www.clevelandplus.com/Entertainment.asp and http://www.clevelandplus.com/SportsRecreation.asp">Recreation and Entertainment</a></li>
		<li><a href="can we put this calculator in there?  http://www.clevelandplus.com/movinghere.asp">Cost of Living</a></li>
	</ul>
</div>	