<div class="twoColumns-0">
	<div class="introContainer">
		<div class="intro">
			<ul class="committees">
				<li class="social"><a href="" id="link-social">Social</a></li>
				<li class="networking current"><a href="" id="link-networking">Networking</a></li>
				<li class="philanthopic"><a href="" id="link-philanthopic">Philanthopic</a></li>
				<li class="educational"><a href="" id="link-educational">Educational</a></li>
			</ul>

			<!--<div id="content-featured">
				<p>The Social Committee in The Cleveland 20/30 Club holds social events which include sports, wine socials ...</p>
				<a class="learn" href="">Learn More</a>
			</div>

			<div id="content-social">
				<p>I am text on the social page</p>
				<a class="learn" href="">Learn More</a>
			</div>

			<div class="current" id="content-networking">
				<p>I am text on the networking page</p>
				<a class="learn" href="">Learn More</a>
			</div>

			<div id="content-philanthopic">
				<p>I am text on the philanthopic page</p>
				<a class="learn" href="">Learn More</a>
			</div>

			<div id="content-educational">
				<p>I am text on the educational page</p>
				<a class="learn" href="">Learn More</a>
			</div>-->
		</div>
		<div class="corner"></div>
	
	</div>
	<div class="subintroContainer">
            <div class="subintroColumnLeft">
               <div class="membership">
                   <h4>Membership</h4>
                   <div class="membershipBody">
                       <div class="register">
                           <p class="becomeMember"><a href="#">Become A Member</a></p>
                           <p><a href="#">Renew Membership</a></p>
                       </div>
                       <div class="testimonials">
                           <h4 class="testimonialsHeader">Testimonials</h4>
                           <a href="#">Next</a>
                           <div class="testimonialBody">
                               <p>"This club is great!<br />There are always a lot of events and<br />this website is cool!"</p>
                               <p class="testimonialAuthor"><strong>John Smith</strong><br />Sales Representative for Renewal<br />By Andersen</p>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="flickr">
               	<h4>Photos From Recent Events</h4>
                   <div class="flickrBody">
                   	<div class="flickrLeft"><a href="#"></a></div>
                       <div class="flickrImage"><a href="#"><img src="/images/flickrImage.jpg"></a></div>
                       <div class="flickrRight"><a href="#"></a></div>
                   </div>
               </div>
           </div>
           <div class="subintroColumnRight">
               <div class="recentnews">
                   <h4>Recent News</h4>
                   <div class="recentnewsBody">
                       <ul>
                           <li>
							<span class="date">01/12/2010</span>
							<a href="#">Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</a>
						   </li>
                           <li>
							<span class="date">01/12/2010</span>
							<a href="#">Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</a>
						   </li>
						   <li>
							<span class="date">01/12/2010</span>
							<a href="#">Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</a>
						   </li>
						   <li>
							<span class="date">01/12/2010</span>
							<a href="#">Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</a>
						   </li>
                           <li>
							<span class="date">01/12/2010</span>
							<a href="#">Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</a>
						   </li>
						   <li>
							<span class="date">01/12/2010</span>
							<a href="#">Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</a>
						   </li>
                       </ul>
                     <a href="#" class="viewMore">More Top Stories &raquo;</a>                       
                   </div>
               </div>  
           </div>                          
       </div>
</div>
<div class="twoColumns-1">
	<!--<div class="miniCalendar">
		<% render_calendar(@date, @months_events, :mini => true) %>							
	</div>-->
	<h4>Sponsored Events</h4>
	<div class="event sponsored">
		<h4 class="date"><span>Feb</span> 18</h4>	
		<ul>
			<li class="social">
				<img style="width: 75px; height: 32px;" src="/images/sponsoreImage_small.png">
				<div><a href="">Movers &amp; Shakers Event and Celebration and this is a </a></div>
				<div class="details">
					<p>February 27th at 6:00 pm</p>
				</div>
			</li>
		</ul>
	</div>
	<h4>Upcomming Events</h4>
	<div class="event">
		<h4 class="date"><span>Feb</span> 18</h4>
		<ul>
			<li class="networking"><a href="">Movers &amp; Shakers Event and Celebration and this is a really long title so we see what happens</a> 6:00 pm</li>
			<li class="social"><a href="">Movers &amp; Shakers Event and Celebration</a> 6:00 pm</li>
		</ul>
	</div>
	<div class="event">
		<h4 class="date"><span>Feb</span> 18</h4>
		<ul>
			<li class="social"><a href="">Movers &amp; Shakers Event and Celebration and this is a really long title so we see what happens</a> 6:00 pm</li>
			<li class="educational"><a href="">Movers &amp; Shakers Event and Celebration</a> 6:00 pm</li>
		</ul>
	</div>
</div>
<div class="clear"></div>
