<h1 style="padding-top:15px;">Advance2030 Event Is Underway!</h1>
<p style="padding:25px">
We currently have 5 teams working hard to bring the Cleveland 20/30 Club into the 21st century! You are looking at the future of the 20/30 Club's online presence. Keep checking back throughout the weekend to watch the evolution of our website (but please, be aware this site is under <strong>heavy construction</strong>). You can follow the progress of the event on our blog at <a href="http://advance2030.wordpress.com/">advance2030.wordpress.com</a>.
</p>
