<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'three-col', 'directors' %>
<% end %>

<div class="threeColumns-0">
	<div class="section">
		<ul>
			<li><a href="">Fact Sheet</a></li>
			<li class="current"><a href="">Board of Directors</a></li>
			<li><a href="">Professional Advisors</a></li>
			<li><a href="">Corporate Membership / Sponsorship</a></li>
		</ul>
	</div>
</div>
<div class="threeColumns-1">
	<div class="section">
		<h1>Board of Directors</h1>
	</div>

	<div class="section">
		<dl>
			<dt>Technology Director</dt>
			<dd>Bennet, Andrew<br />
				<a href="mailto:technology@cleveland2030.org">technology@cleveland2030.org</a></dd>

			<dt>Treasurer</dt>
			<dd>Chance, Eric<br />
				<a href="mailto:treasurer@cleveland2030.org">treasurer@cleveland2030.org</a></dd>

			<dt>Membership Director</dt>
			<dd>Ferenchak, Angie<br />
				<a href="mailto:membership@cleveland2030.org">membership@cleveland2030.org</a></dd>

			<dt>Networking Director</dt>
			<dd>Hickey, Brenden<br />
				<a href="mailto:networking@cleveland2030.org">networking@cleveland2030.org</a></dd>

			<dt>Philanthropy Director</dt>
			<dd>Ishida, Evan<br />
				<a href="mailto:philanthropy@cleveland2030.org">philanthropy@cleveland2030.org</a></dd>

			<dt>Education Director</dt>
			<dd>Kocjan, Kandace<br />
				<a href="mailto:education@cleveland2030.org">education@cleveland2030.org</a></dd>

			<dt>Social Director</dt>
			<dd>LaBuz, Nic<br />
				<a href="mailto:social@cleveland2030.org">social@cleveland2030.org</a></dd>

			<dt>Secretary</dt>
			<dd>Littlejohn, Michael<br />
				<a href="mailto:secretary@cleveland2030.org">secretary@cleveland2030.org</a></dd>

			<dt>Communications Director</dt>
			<dd>Provins, Julie<br />
				<a href="mailto:communications@cleveland2030.org">communications@cleveland2030.org</a></dd>

			<dt>Sponsorship Director</dt>
			<dd>Tayek, Doug<br />
				<a href="mailto:sponsorship@cleveland2030.org">sponsorship@cleveland2030.org</a></dd>

			<dt>General Counsel</dt>
			<dd>Viola, Matt<br />
				<a href="mailto:generalcounsel@cleveland2030.org">generalcounsel@cleveland2030.org</a></dd>

			<dt>President-Elect</dt>
			<dd>Walleck, Andrew<br />
				<a href="mailto:presidentelect@cleveland2030.org">preseidentelect@cleveland2030.org</a></dd>

			<dt>President</dt>
			<dd>Young, Dan<br />
				<a href="mailto:president@cleveland2030.org">president@cleveland2030.org</a></dd>
		</dl>
	</div>
</div>
<div class="threeColumns-2">
	<div class="section">
		<h2>Member Testimonials</h2>
		<a href=""><img class="member-pic" src="/images/member-pic.jpg" /></a>
		<blockquote>I like turtles! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</blockquote>
		<div class="quote-end"></div>
		<h3 class="member-name"><a href="">- Jonathan Knapp</a></h3>
	</div>
</div>
<div class="clear"></div>