<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'three-col', 'about' %>
<% end %>

<%= render :partial => 'nav' %>

<div class="threeColumns-1">
	<div class="section">
		<h2>Our Mission</h2>
		<p>Our mission is to be "the first line of defense" in engaging young professionals with the Northeast Ohio community, creating an incubator for new management and leadership talent. In support of this goal, we will organize and execute unique events of interest to our membership, providing content for entry-level members, project management experience for committee members and leaders, and executive experience for elected board-level directors and subcommittee directors.</p>
	</div>

	<div class="section">
		<h2>Our Vision</h2>
		<p>The 20/30 Club aspires to be a world-class young professionals' organization. Specifically, 20/30 would like to be the largest private-donor funded young professional organization in the country, setting an example of world-class management in our city and inspiring others to do similarly.</p>
	</div>

	<div class="section">
		<h2>Our Organization</h2>
		<p>The 20/30 is organized like a regular business- the Executive Board is comprised of 13 elected leaders who control a major functional area- finance, membership, legal, etc. The club's four main "business units" - Philanthropy, Social, Networking, and Education- are each themselves comprised of volunteer committees with an Executive-board level leader. These committees are the workhorses of the club, organizing and producing events and taking responsibility for major areas of club expenditure.</p>
	</div>
</div>
<div class="threeColumns-2">
	<div class="section">
		<h2>Member Testimonials</h2>
		<a href=""><img class="member-pic" src="images/member-pic.jpg" /></a>
		<blockquote>I like turtles! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</blockquote>
		<div class="quote-end"></div>
		<h3 class="member-name"><a href="">- Jonathan Knapp</a></h3>
	</div>
</div>
