<% form_for @user_session, :url => user_session_path do |f| %>
<div class="threeColumns-1">
  <h1>Login</h1>
  <fieldset>
  	<div class="form-node">
		  <label for="email">Login</label>
		  <%= f.text_field :login, :class => "text", :tabindex => 1 %>
	  </div>
	  <div class="form-node">
			<label for="password">Password</label>
		  <%= f.password_field :password, :class => "text", :tabindex => 2 %>
	  </div>
	</fieldset>		
  <div class="formAction ">
	  <%= f.submit "Log In" %>
	</div>
</div>
<% end %>
